.nav-text-style{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #272CA3;
    letter-spacing: 1px;
    font-weight: bold; 

}

.plagewatch-image-style{
    height: 80px;
    width: 80px;
}