.navbar-style{
    box-shadow: 0 15px 30px 0 rgba(201, 197, 197, 0.11), 0 5px 15px 0 rgba(211, 210, 210, 0.08);
}

.nav-text-style{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #272CA3;
    letter-spacing: 1px;
    font-weight: bold;

}

.plagewatch-image-style{
    height: 80px;
    width: 80px;
}

.login-button{
    background-color: #476EEC;
    position: fixed;
 }
